/Actividades/07 - Apache NetBeans - Tablas/Tablas/nbproject/private/
/Actividades/07 - Apache NetBeans - Tablas/Tablas/build/
/Actividades/07 - Apache Netbeans - Prueba/Promedio/nbproject/private/
/Actividades/07 - Apache Netbeans - Prueba/Promedio/build/
