
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%; 
}



#contentPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: lightsteelblue;
}

.botones{
    margin: 25px;
}